<div id='about' class='max-w-[85rem] mx-auto px-4 pt-32 sm:px-20 lg:px-40'>
  <h1 class='mb-4 font-bold text-3xl'>About Me</h1>
  <!-- Grid -->
  <div class='mt-6 grid md:grid-cols-2 gap-4 md:gap-8 xl:gap-20 items-start'>
    <!-- Start Col -->
    <div>
      <h1
        class='block text-3xl font-bold text-gray-800 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white'
      >
      </h1>
      <p class='mt-3 text-lg text-gray-800 dark:text-gray-400'>
        Lorem ipsum dolor sit amet. Eum atque soluta sed quia consequatur qui vitae doloremque vel nihil quasi ut incidunt nesciunt et optio consequatur et tempore temporibus. Et fuga voluptates non dolores quia est sapiente mollitia et quia cupiditate est sint aperiam ut commodi voluptatem? Et exercitationem eius est neque quam non labore placeat sed atque modi sit eius aliquam et consequatur officiis id aperiam voluptatibus.        
      </p>
      <p class='mt-3 text-lg text-gray-800 dark:text-gray-400'>
        Qui odit accusantium ea voluptas voluptates ut magni esse est voluptates accusantium. Est nobis fugit aut porro voluptate et similique dolores est dolore voluptas hic vero voluptatibus aut doloribus voluptate sed enim repellendus. Ut velit cumque eum nihil modi aut quidem quia qui nihil perspiciatis! Est omnis nemo aut laboriosam quasi qui repellendus excepturi in reiciendis voluptas in quia animi.
      </p>
      <p class='mt-3 text-lg text-gray-800 dark:text-gray-400'>
        Sed magni rerum et iure omnis ut eveniet delectus est maxime harum vel totam delectus! Ab accusamus officiis ea atque consequatur et voluptatum maiores. 33 nisi dolor est dignissimos quas 33 maxime sunt qui rerum dolores et earum dolore ut dolore consequuntur est galisum molestiae. Nam distinctio vitae ut nisi suscipit et voluptatem quia et quod rerum.
      </p>
      
      
    </div>
    <!-- End Col -->

    <div class='relative md:ml-4'>
      <img
        class='w-full rounded-md'
        src='/Headshot.jpg'
        alt='Jania Vandevoorde'
      />
      <div
        class='absolute inset-0 -z-[1] bg-gradient-to-tr from-gray-200 via-white/0 to-white/0 w-full h-full rounded-md mt-4 -mb-4 mr-4 -ml-4 lg:mt-6 lg:-mb-6 lg:mr-6 lg:-ml-6 dark:from-slate-800 dark:via-slate-900/0 dark:to-slate-900/0'
      >
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>

<style>
  .skill::before {
    content: '▹';
    position: absolute;
    left: 0px;
    font-size: 12px;
    line-height: 12px;
  }
</style>
