<div class="max-w-[85rem] px-4 pt-32 sm:px-20 lg:px-40 mx-auto" id="experience">
  <h1 class="text-center font-bold text-4xl">
    Experience
    <hr class="w-6 h-1 mx-auto my-4 bg-pink-400 border-0 rounded" />
  </h1>

  <div class="mt-6 relative">
    <div class="justify-center relative z-10 lg:grid">
      <div class="grid grid-cols-[auto,1fr] gap-4">
        <div class="flex flex-col items-center">
          <div class="w-1 h-full bg-pink-400 border-0 rounded"></div>
        </div>
        <div>
          <section
            class="project relative block mb-6 px-4 py-3 -mx-3 sm:mx-0 sm:px-6 sm:py-5 border border-slate dark:border-slate-700 rounded-lg transition-shadow duration-200 hover:shadow-xl dark:transform dark:transition-transform dark:hover:-translate-y-1"
          >
            <h3 class="font-bold text-xl">
              <span class="italic text-pink-600 hover:text-pink-700"
                >Software Engineer Intern</span
              >
              <span class="font-small text-gray-500">@</span>
              <span class="text-pink-800 font-bold hover:underline">
                <a
                  href="https://www.mongodb.com/"
                  target="_blank"
                  >MongoDB</a
                >
              </span>
            </h3>
            <p class="text-sm mt-1 font-medium text-gray-500">
              June 2024 - August 2024
            </p>
            <ul class="list-disc mt-1 pl-5">
              <li>.NET/C# Driver Team</li>
            </ul>
          </section>

          <section
            class="project relative block mb-6 px-4 py-3 -mx-3 sm:mx-0 sm:px-6 sm:py-5 border border-slate dark:border-slate-700 rounded-lg transition-shadow duration-200 hover:shadow-xl dark:transform dark:transition-transform dark:hover:-translate-y-1"
          >
            <h3 class="font-bold text-xl">
              <span class="italic text-pink-600 hover:text-pink-700"
                >Head Teaching Assistant</span
              >
              <span class="font-small text-gray-500">@</span>
              <span class="text-pink-800 font-bold hover:underline">
                <a
                  href="https://cs.brown.edu/"
                  target="_blank"
                  >Brown University Department of Computer Science</a
                >
              </span>
            </h3>
            <p class="text-sm mt-1 font-medium text-gray-500">
              November 2022 - Present
            </p>
            <ul class="list-disc mt-1 pl-5">
              <li>
                Hire and manage diverse teams of Teaching Assistants (totaling
                over 100 members) across four semesters under the mentorship of
                course instructors. Demonstrate exceptional leadership and
                team-building skills in a dynamic academic setting
              </li>
              <li>
                Play a key role in the development and refinement of
                comprehensive course materials, contributing to the learning
                experience of over 1,000 undergraduate students in foundational
                CS concepts: discrete mathematics and data structures
              </li>
              <li>
                Enhance student engagement and understanding through weekly
                office hours, recitations, and labs, adapting teaching methods
                to serve diverse learning styles and ensure an inclusive
                learning environment
              </li>
              <li>
                Assess and grade student problem sets, coding assignments, and
                exams in Python, LaTeX, and Lean, maintaining high academic
                standards and providing constructive feedback
              </li>
            </ul>
          </section>

          <section
            class="project relative block mb-6 px-4 py-3 -mx-3 sm:mx-0 sm:px-6 sm:py-5 border border-slate dark:border-slate-700 rounded-lg transition-shadow duration-200 hover:shadow-xl dark:transform dark:transition-transform dark:hover:-translate-y-1"
          >
            <h3 class="font-bold text-xl">
              <span class="italic text-pink-600 hover:text-pink-700"
                >Data Science Intern</span
              >
              <span class="font-small text-gray-500">@</span>
              <span class="text-pink-800 font-bold hover:underline">
                <a
                  href="https://www.takachar.com/"
                  target="_blank"
                  >Takachar</a
                >
              </span>
            </h3>
            <p class="text-sm mt-1 font-medium text-gray-500">January 2024</p>
            <ul class="list-disc mt-1 pl-5">
              <li>
                Had a significant impact on a project that directly contributes
                to reducing carbon emissions by developing an algorithm to
                detect spikes in biomass weight within agricultural waste
                reactors.
              </li>
              <li>
                Processed and analyzed 75 unique datasets to accurately track
                and plot weight fluctuations and the detected spikes,
                contributing to advancements in reactor optimization.
              </li>
              <li>
                Collaborated closely with Takachar’s Data Science Lead to refine
                detection methods, demonstrating a strong ability to translate
                complex data into actionable insights.
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
