<div
  id="footer"
  class="max-w-[85rem] flex flex-col justify-center items-center mx-auto px-4 pt-28 sm:px-20 lg:px-40 mb-6"
>
  <p>Created & Maintained with ♡ by Jania Vandevoorde.</p>
  <p id="last-updated">
    Last update: <span id="commit-info">Fetching latest commit...</span>
  </p>
</div>

<!-- Link to external script -->
<script src="/js/footer.js" type="module"></script>