---
import Logo from '/favicon.svg'
---

<header
  class='bg-header sticky top-0 shadow-sm flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full text-sm py-3'
>
  <nav
    class='max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between'
  >
    <div class='flex items-center justify-between'>
      <a class='flex-none text-xl font-semibold' href='#'>
        <img src={Logo} alt='logo' class="w-14 h-14" />
      </a>
    </div>
    <div
      id='navbar-collapse-with-animation'
      class='hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block'
    >
      <div
        class='flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:pl-5'
      >
        <a
          class='font-medium text-lg active:text-blue-500 text-gray-600 hover:text-gray-400'
          href='#about'
          aria-current='page'>About</a
        >
        <a
          class='font-medium text-lg active:text-blue-500 text-gray-600 hover:text-gray-400'
          href='#experience'>Experience</a
        >
        <a
          class='font-medium text-lg active:text-blue-500 text-gray-600 hover:text-gray-400'
          href='#projects'>Projects</a
        >
        <a
          class='font-medium text-lg active:text-blue-500 text-gray-600 hover:text-gray-400'
          href='#contact'>Contact</a
        >
      </div>
    </div>
  </nav>
</header>

<style>
  .bg-header {
    background-color: hsl(273, 37%, 93%);
  }
</style>
