---
import "../styles.css";
---

<div
  class="flex flex-col items-center justify-center min-h-screen pb-6 px-4 sm:px-20 lg:px-40"
>
  <article class="my-auto flex flex-col items-center text-center">
    <!-- Image container -->
    <div class="mb-8">
      <img
        src="Headshot.jpg"
        alt="Jania Vandevoorde"
        class="rounded-full w-72 h-72 object-cover hover:shadow-xl"
      />
    </div>
    <!-- Name and text -->
    <div class="max-w-2xl">
      <p class="block text-md sm:text-xl font-medium text-slate-400 mb-2 hover:text-slate-500">
        Hi, my name is
      </p>
      <h1 class="title relative inline-flex flex-col-reverse sm:flex-row mb-3">
        <div
          class="relative inline-block text-4xl sm:text-4xl md:text-6xl lg:text-7xl font-bold tracking-tight"
        >
          <span class="title-gradient">Jania Vandevoorde</span>
          <span
            class="title-cover absolute inset-0 transition-opacity duration-500 print:hidden"
            aria-hidden="true"
          >
            Jania Vandevoorde
          </span>
        </div>
      </h1>
      <p class="block text-md sm:text-xl font-medium text-slate-400 mb-6 hover:text-slate-500">
        I'm a senior at Brown University studying Computer Science and
        Statistics.
        <br />
        Feel free to reach out at
        <a class="text-blue-500" href="mailto:jania@vdvoorde.com"
          >jania@vdvoorde.com</a
        >!
      </p>
      <a
        class="py-3 px-5 inline-flex justify-center items-center gap-2 rounded-md border-2 border-gray-900 font-semibold text-gray-800 hover:text-white hover:bg-gray-800 hover:border-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-800 focus:ring-offset-2 transition-all text-sm"
        target="_blank"
        href="/Resume.pdf"
      >
        Here's my resume!
      </a>
    </div>
  </article>
</div>
