<div class="max-w-[85rem] px-4 pt-32 sm:px-20 lg:px-40 mx-auto" id="projects">
    <h1 class="text-center font-bold text-4xl">
        Projects
        <hr class="w-6 h-1 mx-auto my-4 bg-pink-400 border-0 rounded" />
    </h1>
    <div class="mt-6 relative justify-center relative z-10 lg:grid">
        <div class="grid grid-cols-2 gap-8">
            <section
                class="project relative block mb-6 px-4 py-3 -mx-3 sm:mx-0 sm:px-6 sm:py-5 border border-slate dark:border-slate-700 rounded-lg transition-shadow duration-200 hover:shadow-xl dark:transform dark:transition-transform dark:hover:-translate-y-1"
            >
                <h3 class="flex items-center mb-2 text-xl font-bold text-pink-600">
                    <a
                        href="https://github.com/janiavdv/colorizer"
                        class="block-link"
                    >
                        Colorizer
                    </a>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        role="img"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="ml-auto w-6 h-6 opacity-60"
                        ><title>GitHub</title><path
                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                        ></path>
                    </svg>
                </h3>
                <p>
                    Grayscale image colorization using a Convolutional Neural
                    Network with a U-Net architecture, VGG-19, and perceptual
                    loss.
                </p>
                <img
                    src="/colorizer_architecture.png"
                    class="rounded-2xl"
                />
                <img
                    src="/colorizer_results.png"
                    class="mt-4 rounded-lg"
                />
            </section>

            <section
                class="project relative block mb-6 px-4 py-3 -mx-3 sm:mx-0 sm:px-6 sm:py-5 border border-slate dark:border-slate-700 rounded-lg transition-shadow duration-200 hover:shadow-xl dark:transform dark:transition-transform dark:hover:-translate-y-1"
            >
                <h3 class="flex items-center mb-2 text-xl font-bold text-pink-600">
                    <a
                        href="https://github.com/janiavdv/scrappy"
                        class="block-link"
                    >
                        Scrappy
                    </a>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        role="img"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="ml-auto w-6 h-6 opacity-60"
                        ><title>GitHub</title><path
                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                        ></path>
                    </svg>
                </h3>
                <p>
                    Scrapbook-style social media web app that combines the
                    ability to share content with friends and document personal
                    memories.
                </p>
                <div class="rounded-lg size-4/5">
                    <img src="/scrappy_sampleentry.png" />
                </div>
            </section>
        </div>
    </div>
</div>
