@tailwind base;
@tailwind components;
@tailwind utilities;

.title-gradient {
	background-image: linear-gradient(
		to right,
		#2dd2dd 0%,
		#9a47f3 25%,
		#fcb26d 50%,
		#ff61e6 75%,
		#2dd2dd 100%
	);
	background-size: 400% 0;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	background-size: 200% auto;
	animation: slide 10s linear infinite;
}

.title:hover .title-cover {
	@apply opacity-0;
}

html {
	scroll-behavior: smooth;
}