---
interface Props {
  content: string;
  children?: any;
}

const { content } = Astro.props;
const items = content.split(",").map((item) => item.trim());
---

<div class="group relative inline-block">
  <slot />
  <div
    class="absolute left-0 bottom-full mb-2 hidden group-hover:block z-10 bg-gray-900 text-white text-sm px-4 py-3 rounded-md whitespace-normal w-max max-w-sm shadow-lg"
  >
    <ul class="list-disc list-outside space-y-1 pl-5 text-left">
      {items.map((item) => <li>{item}</li>)}
    </ul>
    <div
      class="absolute bottom-0 left-4 transform translate-y-full border-4 border-transparent border-t-gray-900"
    >
    </div>
  </div>
</div>
